/*
Theme Name: FMA CLEAN
Author: Thiago Radice
Description: Tema para Fine Martial Artists.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
body {
  font-family: 'Proxima Nova Alt Rg';
  background: #FFF;
  width: 100%; }

a, a:active, a:visited {
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.site {
  border-top: 45px solid #151515; }
  @media (max-width: 767.98px) {
    .site {
      border: 0;
      padding-top: 45px; } }

.site-inner {
  width: 100%;
  max-width: 1327px;
  margin: 30px auto;
  padding: 0 95px; }
  @media (max-width: 1024px) {
    .site-inner {
      padding: 0 50px; } }
  @media (max-width: 915.98px) {
    .site-inner {
      padding: 45px 0 0 0;
      margin-top: 0; } }
  @media (max-width: 767.98px) {
    .site-inner {
      padding-top: 0; } }

.barra-topo {
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #151515;
  display: flex;
  z-index: 100; }
  .barra-topo .open-menu {
    font-size: 28px;
    color: #FFF;
    padding-left: 0.8rem; }
    .barra-topo .open-menu .fa-close {
      display: none; }
    .barra-topo .open-menu.close-menu .fa-bars {
      display: none; }
    .barra-topo .open-menu.close-menu .fa-close {
      display: inline; }
  .barra-topo .social-links-menu {
    margin: 0; }
    .barra-topo .social-links-menu li {
      padding: 0 0.8rem; }
      .barra-topo .social-links-menu li a {
        font-size: 28px;
        color: #FFF; }

.menu-mobile {
  position: fixed;
  left: -100%;
  top: 45px;
  height: 100%;
  background: #efefef;
  transition: left 0.5s ease; }
  .menu-mobile.opened {
    left: 0; }
  .menu-mobile .menu-main-container ul {
    flex-direction: column;
    background: transparent; }
    .menu-mobile .menu-main-container ul li {
      margin-bottom: 1rem; }
      .menu-mobile .menu-main-container ul li a {
        font-family: 'Proxima Nova Lt'; }

.site-header {
  margin-bottom: 15px; }
  @media (max-width: 915.98px) {
    .site-header {
      padding: 0 40px; } }
  @media (max-width: 767.98px) {
    .site-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0; }
      .site-header .search-social {
        width: 100%; }
      .site-header .site-branding {
        margin: 2rem 0 !important; } }

.screen-reader-text {
  display: none; }

.main-navigation ul {
  list-style: none;
  background-color: #efefef;
  padding: 20px 50px;
  margin: 0; }
  .main-navigation ul li {
    font-family: 'Proxima Nova Alt Rg';
    text-transform: uppercase;
    font-size: 20px;
    position: relative; }
    .main-navigation ul li a {
      color: #000; }
      .main-navigation ul li a:hover {
        font-weight: bold; }
    .main-navigation ul li:hover .sub-menu {
      display: block; }
    .main-navigation ul li .sub-menu {
      width: auto;
      margin: 0;
      padding: 1rem;
      padding-bottom: 0.5rem;
      position: absolute;
      z-index: 100;
      left: -1rem;
      display: none; }
      .main-navigation ul li .sub-menu li {
        padding: 0.2rem 0; }
      .main-navigation ul li .sub-menu a {
        white-space: nowrap; }
      @media (max-width: 767.98px) {
        .main-navigation ul li .sub-menu {
          display: block;
          position: relative;
          padding: 0.8rem 0 0 0.5rem;
          left: 0; }
          .main-navigation ul li .sub-menu li {
            padding: 0.2rem 0;
            margin-bottom: 0; }
          .main-navigation ul li .sub-menu a {
            white-space: normal;
            font-size: 18px; } }
  @media (max-width: 915.98px) {
    .main-navigation ul {
      padding: 20px; } }

.search-social {
  width: 40%; }
  .search-social .search-form input[type=search] {
    font-family: 'Proxima Nova Alt Rg';
    background-color: #efefef;
    border: 1px solid #e3e3e3;
    color: #727272;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    outline: none; }
  .search-social .search-form .search-submit {
    width: 50px;
    background-color: #aaaaaa;
    border: 1px solid #e3e3e3;
    font-size: 24px;
    color: #FFF;
    outline: none; }

.social-links-menu {
  list-style: none;
  padding: 0;
  margin: 35px 75px 0 0; }
  .social-links-menu li {
    padding: 0 20px; }
    .social-links-menu li a {
      font-size: 44px;
      color: #000; }

.fma-post-slideshow {
  position: relative; }
  .fma-post-slideshow .slideshow-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10; }
    .fma-post-slideshow .slideshow-nav a {
      color: #FFF; }
    .fma-post-slideshow .slideshow-nav span {
      background: #000;
      padding: 10px;
      height: 54px;
      display: block; }
      .fma-post-slideshow .slideshow-nav span i {
        font-size: 36px;
        line-height: 36px; }
  .fma-post-slideshow > ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 485px; }
    @media (max-width: 767.98px) {
      .fma-post-slideshow > ul {
        height: 260px; }
        .fma-post-slideshow > ul .title {
          font-size: 16px !important;
          line-height: 18px !important; }
        .fma-post-slideshow > ul .tags {
          display: none !important; } }
    .fma-post-slideshow > ul > li {
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: none;
      justify-content: center;
      align-items: flex-end;
      opacity: 0;
      z-index: 1; }
      .fma-post-slideshow > ul > li.current {
        opacity: 1;
        display: flex !important;
        z-index: 9; }
      .fma-post-slideshow > ul > li .label {
        text-align: center;
        margin-bottom: 35px;
        width: 70%; }
        .fma-post-slideshow > ul > li .label .tags {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          .fma-post-slideshow > ul > li .label .tags li {
            background: #000;
            padding: 5px 10px;
            margin: 20px;
            font-family: 'PT Sans', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            color: #FFF; }
        .fma-post-slideshow > ul > li .label .title {
          font-family: 'PT Sans', sans-serif;
          font-size: 36px;
          line-height: 2.5rem;
          font-weight: bold;
          text-transform: uppercase;
          color: #FFF; }
  .fma-post-slideshow.fma-loja .slideshow-nav a {
    color: #000; }
  .fma-post-slideshow.fma-loja .slideshow-nav span {
    background: transparent; }
  .fma-post-slideshow.fma-loja > ul {
    height: 320px; }
    .fma-post-slideshow.fma-loja > ul > li {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .fma-post-slideshow.fma-loja > ul > li img {
        height: 220px; }
      .fma-post-slideshow.fma-loja > ul > li .title {
        font-family: 'Proxima Nova Alt Rg';
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 20px;
        text-align: center; }
        .fma-post-slideshow.fma-loja > ul > li .title span {
          font-size: 22px;
          display: block; }

.comments-area .comment-reply-title, .comments-area .logged-in-as,
.comments-area .comment-form-comment label,
.comments-area .comment-notes, .comments-area .comment-form-author,
.comments-area .comment-form-email, .comments-area .comment-form-url {
  display: none; }
.comments-area .comment-form {
  display: flex;
  justify-content: stretch; }
  .comments-area .comment-form .comment-form-comment {
    width: 100%; }
    .comments-area .comment-form .comment-form-comment textarea {
      width: 100%;
      height: 50px;
      font-family: 'Proxima Nova Alt Rg';
      background-color: #efefef;
      border: 1px solid #e3e3e3;
      color: #010101;
      font-size: 15px;
      padding: 10px;
      outline: none; }
  .comments-area .comment-form .form-submit {
    margin: 0; }
    .comments-area .comment-form .form-submit input {
      height: 50px;
      background-color: #626262;
      border: 0;
      color: #FFF;
      padding: 0 15px;
      margin-left: 10px;
      border-radius: 6px;
      outline: none; }
.comments-area .comment-list .comment {
  background-color: #efefef;
  padding: 15px;
  color: #010101;
  margin-bottom: 45px;
  position: relative; }
  .comments-area .comment-list .comment .commentmetadata {
    font-size: 12px; }
  .comments-area .comment-list .comment p {
    margin: 0; }
  .comments-area .comment-list .comment .cld-common-wrap {
    min-width: auto;
    margin: 0 0 0 10px; }
  .comments-area .comment-list .comment .cld-like-dislike-wrap {
    position: absolute;
    margin: 0;
    right: 0;
    top: 100%; }

@media (max-width: 915.98px) {
  .site-content .conteudo {
    flex-direction: column; }
    .site-content .conteudo > div {
      max-width: 100%;
      padding-right: 0 !important; }
      .site-content .conteudo > div .text:not(.keep-normal), .site-content .conteudo > div .author-posts,
      .site-content .conteudo > div .comments-area, .site-content .conteudo > div .widget-autores, .site-content .conteudo > div .fma-blog-post,
      .site-content .conteudo > div .widget-loja, .site-content .conteudo > div .dynamic-widgets, .site-content .conteudo > div .fma-assuntos,
      .site-content .conteudo > div .autor, .site-content .conteudo > div #author-info, .site-content .conteudo > div .wpcf7-form {
        margin-right: 1.5rem;
        margin-left: 1.5rem; }
      .site-content .conteudo > div main {
        margin-bottom: 2rem; } }
@media (max-width: 767.98px) {
  .site-content .conteudo {
    margin-top: 0 !important; }
    .site-content .conteudo .text:not(.keep-normal), .site-content .conteudo #author-info {
      margin-top: 1rem !important; } }

.fma-boxes-home {
  margin: 15px 0; }
  @media (max-width: 915.98px) {
    .fma-boxes-home {
      flex-direction: column; } }
  @media (max-width: 767.98px) {
    .fma-boxes-home {
      margin: 0; } }
  .fma-boxes-home .autores, .fma-boxes-home .newsletter {
    margin-right: 15px;
    background: #efefef;
    flex-basis: 50%; }
    @media (max-width: 915.98px) {
      .fma-boxes-home .autores, .fma-boxes-home .newsletter {
        margin-right: 0; } }
    .fma-boxes-home .autores h3, .fma-boxes-home .newsletter h3 {
      font-family: 'Proxima Nova Lt';
      font-size: 28px;
      text-align: center;
      color: #000;
      margin: 20px auto 10px auto;
      width: 80%; }
      @media (max-width: 767.98px) {
        .fma-boxes-home .autores h3, .fma-boxes-home .newsletter h3 {
          margin: 10px auto 0 auto;
          width: 100%;
          font-size: 20px; } }
    .fma-boxes-home .autores .name, .fma-boxes-home .newsletter .name {
      white-space: normal; }
  .fma-boxes-home .newsletter {
    padding: 25px 50px;
    margin-right: 0; }
    @media (max-width: 767.98px) {
      .fma-boxes-home .newsletter {
        padding: 0 20px 20px 20px; } }
    .fma-boxes-home .newsletter form {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-top: 25px; }
      .fma-boxes-home .newsletter form .es_lablebox {
        display: none; }
      .fma-boxes-home .newsletter form .es_textbox {
        width: 100%;
        padding: 0; }
      .fma-boxes-home .newsletter form input[type=email] {
        font-family: 'Proxima Nova Alt Rg';
        background-color: #FFF;
        border: 0;
        color: #727272;
        font-size: 15px;
        padding: 10px;
        width: 100%;
        outline: none; }
      .fma-boxes-home .newsletter form .es_button {
        padding: 0;
        position: relative; }
        .fma-boxes-home .newsletter form .es_button:before {
          content: "Enviar";
          position: absolute;
          font-family: 'Proxima Nova Lt';
          font-size: 20px;
          color: #FFF;
          text-align: center;
          width: 100%;
          top: 6px;
          left: 0; }
      .fma-boxes-home .newsletter form input[type=submit] {
        background-color: #aaaaaa;
        border: 0;
        outline: none;
        padding: 0 10px;
        height: 42px;
        width: 80px;
        text-indent: -9999px; }
  .fma-boxes-home .autores {
    position: relative; }
    .fma-boxes-home .autores .wrapper {
      width: 100%;
      overflow: hidden;
      padding: 25px; }
    .fma-boxes-home .autores .autores-nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: calc(100% - 63.6px);
      bottom: 0;
      left: 0;
      z-index: 10;
      pointer-events: none; }
      @media (max-width: 767.98px) {
        .fma-boxes-home .autores .autores-nav {
          height: calc(100% - 43.6px); } }
      @media (max-width: 767.98px) {
        .fma-boxes-home .autores .autores-nav {
          height: calc(100% - 43.6px); } }
      .fma-boxes-home .autores .autores-nav a {
        pointer-events: visible;
        color: #000; }
      .fma-boxes-home .autores .autores-nav span {
        background: #efefef;
        padding: 15px;
        width: 55px;
        height: 100%;
        display: flex;
        align-items: center; }
        .fma-boxes-home .autores .autores-nav span i {
          font-size: 36px;
          line-height: 36px; }
    .fma-boxes-home .autores ul {
      position: relative;
      list-style: none;
      margin: 0 30px;
      padding: 0;
      white-space: nowrap; }
      .fma-boxes-home .autores ul li {
        display: inline-block;
        font-family: 'Proxima Nova Lt';
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        text-align: center;
        width: 33.33%; }
        .fma-boxes-home .autores ul li img {
          border-radius: 50%;
          margin-bottom: 5px; }
          @media (max-width: 767.98px) {
            .fma-boxes-home .autores ul li img {
              width: 60px;
              height: auto; } }
        @media (max-width: 767.98px) {
          .fma-boxes-home .autores ul li .name {
            font-size: 12px; } }

.fma-blog-post {
  margin-bottom: 45px; }
  @media (max-width: 767.98px) {
    .fma-blog-post {
      flex-direction: column;
      margin: 0 !important; }
      .fma-blog-post.short {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important; }
      .fma-blog-post .thumbnail {
        max-width: 100%;
        height: 220px;
        margin-right: 0 !important; }
      .fma-blog-post .text {
        margin: 1rem 0 !important; } }
  .fma-blog-post h2 {
    font-family: 'Proxima Nova Lt';
    font-size: 25px;
    line-height: 28px;
    text-transform: uppercase; }
  .fma-blog-post .thumbnail {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .fma-blog-post .author {
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px; }

.fma-assuntos {
  list-style: none;
  margin: 0;
  padding: 0; }
  .fma-assuntos > li {
    margin-bottom: 30px; }

.pagination {
  diplay: flex;
  align-items: center;
  justify-content: center; }
  .pagination .page-numbers {
    background: rgba(62, 62, 62, 0.5);
    padding: 8px 15px;
    font-size: 14px !important;
    border-radius: 3px;
    color: #FFF; }
    .pagination .page-numbers.current, .pagination .page-numbers:hover {
      background: #3e3e3e; }

.section-fma {
  font-family: 'Proxima Nova Lt';
  font-size: 22px;
  color: #FFF;
  background-color: #000;
  padding: 5px 10px;
  margin-bottom: 15px; }

.button {
  background: #efefef;
  padding: 8px 15px;
  font-size: 14px !important;
  border-radius: 3px;
  border: 1px solid #CCC;
  color: #3e3e3e; }
  .button:hover {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
    color: #FFF; }

.widget-loja {
  margin-bottom: 15px; }

@media (max-width: 915.98px) {
  .widget-newsletter {
    margin: 0 1.5rem 1rem 1.5rem; } }
.widget-newsletter h3 {
  font-size: 16px !important; }

.widget-autores .autores {
  background-color: transparent;
  margin-right: 0; }
  .widget-autores .autores ul {
    margin: 0 10px; }
  .widget-autores .autores .autores-nav {
    height: 100%; }
    .widget-autores .autores .autores-nav span {
      background-color: #FFF;
      width: 50px; }
  .widget-autores .autores img {
    width: 60px;
    height: auto; }
  .widget-autores .autores .name {
    font-size: 12px; }

.post-capa img {
  width: 100%;
  margin: 15px 0; }
  @media (max-width: 767.98px) {
    .post-capa img {
      margin: 0; } }

.fma-post-single .title {
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 60px;
  color: #545454;
  text-transform: uppercase;
  margin: 0; }
.fma-post-single .author {
  margin: 20px 0 30px 0;
  text-transform: uppercase; }
.fma-post-single .post {
  width: 90%; }
@media (max-width: 767.98px) {
  .fma-post-single .text:not(.keep-normal) {
    margin-left: 1rem;
    margin-right: 1rem; }
  .fma-post-single .title {
    font-size: 24px;
    line-height: 28px; } }

.page .fma-post-single h2 {
  margin-bottom: 30px; }

.dynamic-widgets {
  list-style: none;
  margin: 0;
  padding: 0; }
  .dynamic-widgets > li {
    margin-bottom: 15px; }
  .dynamic-widgets .instagram-pics {
    list-style: none;
    margin: -7px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .dynamic-widgets .instagram-pics li {
      flex-basis: calc(33% - 14px);
      margin: 7px; }
      .dynamic-widgets .instagram-pics li img {
        width: 100%; }
  .dynamic-widgets .tagcloud a {
    background: #3e3e3e;
    padding: 8px;
    font-size: 14px !important;
    border-radius: 3px;
    color: #FFF;
    margin: 5px 5px 0 0;
    display: inline-block; }

.site-footer {
  background-color: #efefef;
  padding: 45px 0; }
  @media (max-width: 767.98px) {
    .site-footer {
      padding: 2rem 0 0 0 !important; } }
  .site-footer .links-footer {
    max-width: 940px;
    width: 90%; }
    @media (max-width: 767.98px) {
      .site-footer .links-footer {
        flex-direction: column; }
        .site-footer .links-footer .main-navigation {
          margin-bottom: 2rem; } }
    .site-footer .links-footer .main-navigation ul {
      padding: 0; }
      .site-footer .links-footer .main-navigation ul li:not(.title) a {
        font-family: 'Proxima Nova Alt Rg';
        font-weight: bold; }
        .site-footer .links-footer .main-navigation ul li:not(.title) a:hover {
          font-weight: normal; }
  .site-footer .social-navigation {
    max-width: 1280px;
    width: 90%; }
    .site-footer .social-navigation .social-links-menu {
      margin: 0; }

.barra-creditos {
  background-color: #151515;
  padding: 10px;
  text-align: center;
  color: #FFF; }
  @media (max-width: 767.98px) {
    .barra-creditos {
      font-size: 14px;
      text-align: left;
      display: flex;
      align-items: center; } }
  .barra-creditos img {
    margin-left: 5px; }

.wpcf7-form {
  width: 80%; }
  @media (max-width: 915.98px) {
    .wpcf7-form {
      width: 85%; } }
  .wpcf7-form .campo-linha {
    display: flex;
    margin-bottom: 15px; }
    .wpcf7-form .campo-linha .label {
      width: 150px;
      padding: 10px;
      background: #292929;
      color: #FFF;
      text-align: center;
      flex-basis: auto;
      max-height: 44px; }
    .wpcf7-form .campo-linha .campo {
      width: 100%;
      margin-left: 15px; }
      .wpcf7-form .campo-linha .campo input[type=text], .wpcf7-form .campo-linha .campo input[type=email], .wpcf7-form .campo-linha .campo textarea {
        font-family: 'Proxima Nova Alt Rg';
        background-color: #efefef;
        border: 1px solid #e3e3e3;
        color: #727272;
        font-size: 15px;
        padding: 10px;
        width: 100%;
        outline: none; }
  .wpcf7-form .contato-submit {
    text-align: right;
    display: flex;
    flex-direction: row-reverse; }
    .wpcf7-form .contato-submit input[type=submit] {
      background-color: #292929;
      border: 0;
      color: #FFF;
      outline: none; }
