/*
Theme Name: FMA CLEAN
Author: Thiago Radice
Description: Tema para Fine Martial Artists.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


body{
    font-family: 'Proxima Nova Alt Rg';
	background:#FFF;
	width:100%;
}

a, a:active, a:visited{
	color: inherit;
}

a:hover{
	text-decoration:none;
	color: inherit;
}

.site{
	border-top:45px solid #151515;
	
	@media (max-width: 767.98px) { 
		border:0;
		padding-top:45px;
	}
}

.site-inner{
	width:100%;
	max-width:1327px;
	margin:30px auto; 
	padding:0 95px;
	
	@media (max-width: 1024px) {
		padding:0 50px;
	}
	
	@media (max-width: 915.98px) {
		padding:45px 0 0 0;
		margin-top:0;
	}
	
	@media (max-width: 767.98px) {
		padding-top:0;
	}
}

.barra-topo{
	width:100%;
	height:45px;
	position:fixed;
	background-color:#151515;
	display:flex;
	z-index:100;
	
	.open-menu{
		font-size:28px;
		color:#FFF;
		padding-left:0.8rem;
		
		.fa-close{
			display:none;
		}
		
		&.close-menu{
			.fa-bars{
				display:none;
			}
			
			.fa-close{
				display:inline;
			}
		}
	}

	.social-links-menu{
		margin:0;
		
		li{
			padding:0 0.8rem;
			
			a{
				font-size:28px;
				color:#FFF;
			}
		}
	}
}

.menu-mobile{
	position:fixed;
	left:-100%;
	top:45px;
	height:100%;
	background:#efefef;
	transition:left 0.5s ease;
	
	&.opened{
		left:0;
	}
	
	.menu-main-container ul{
		flex-direction:column;
		background:transparent;
		
		li{
			margin-bottom:1rem;
			
			a{
				font-family: 'Proxima Nova Lt';
			}
		}
	}
}

.site-header{
	margin-bottom:15px;
	
	@media (max-width: 915.98px) {
		padding:0 40px;
	}
	
	@media (max-width: 767.98px) { 
		flex-direction:column;
		align-items:center;
		justify-content:center;
		padding:0;
		margin:0;
		
		.search-social{
			width:100%;
		}
		
		.site-branding{
			margin:2rem 0 !important;
		}
	}
}

.screen-reader-text{
	display:none;
}

.main-navigation{
	ul{
		list-style:none;
		background-color:#efefef;
		padding:20px 50px;
		margin:0;
		
		li{
			font-family: 'Proxima Nova Alt Rg';
			text-transform:uppercase;
			font-size:20px;
			position:relative;
			
			a{
				color:#000;
				
				&:hover{
					font-weight:bold;
				}
			}
			
			&:hover{
				.sub-menu{
					display:block;
				}
			}
			
			.sub-menu{
				width:auto;
				margin:0;
				padding:1rem;
				padding-bottom:0.5rem;
				position:absolute;
				z-index:100;
				left:-1rem;
				display:none;
				
				li{
					padding:0.2rem 0;
				}
				
				a{
					white-space:nowrap;
				}
				
				@media (max-width: 767.98px) {
					display:block;
					position:relative;
					padding:0.8rem 0 0 0.5rem;
					left:0;
					
					li{
						padding:0.2rem 0;
						margin-bottom:0;
					}
					
					a{
						white-space:normal;
						font-size:18px;
					}
				}
			}
		}
	
		@media (max-width: 915.98px) {
			padding:20px;
		}
	}
}

.search-social{
	width:40%;
	
	.search-form{
		input[type=search]{
			font-family: 'Proxima Nova Alt Rg';
			background-color:#efefef;
			border:1px solid #e3e3e3;
			color:#727272;
			font-size:15px;
			padding:10px;
			width:100%;
			outline:none;
		}
		
		.search-submit{
			width:50px;
			background-color:#aaaaaa;
			border:1px solid #e3e3e3;
			font-size:24px;
			color:#FFF;
			outline:none;
		}
	}
}

.social-links-menu{
	list-style:none;
	padding:0;
	margin:35px 75px 0 0;
	
	li{
		padding:0 20px;
		a{
			font-size:44px;
			color:#000;
		}
	}
}

.fma-post-slideshow{
	position:relative;
	
	.slideshow-nav{
		position:absolute;
		display:flex;
		justify-content:space-between;
		top:50%;
		transform:translateY(-50%);
		width:100%;
		z-index:10;
		
		a{
			color:#FFF;
		}
		
		span{
			background:#000;
			padding:10px;
			height:54px;
			display:block;
			
			i{
				font-size:36px;
				line-height:36px;
			}
		}
	}

	>ul{
		position:relative;
		list-style:none;
		margin:0;
		padding:0;
		height:485px;

		@media (max-width: 767.98px) {
			height:260px;
			
			.title{
				font-size:16px !important;
				line-height:18px !important;
			}
			
			.tags{
				display:none !important;
			}
		}
		
		>li{
			position:absolute;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			width:100%;
			height:100%;
			overflow:hidden;
			display:none;
			justify-content:center;
			align-items:flex-end;
			opacity:0;
			z-index:1;
			
			&.current{
				opacity:1;
				display:flex !important;
				z-index:9;
			}
			
			.label{
				text-align:center;
				margin-bottom:35px;
				width:70%;
				
				.tags{
					list-style:none;
					margin:0;
					padding:0;
					display:flex;
					justify-content:center;
					align-items:center;
					
					li{
						background:#000;
						padding:5px 10px;
						margin:20px;
						font-family: 'PT Sans', sans-serif;
						font-size:16px;
						text-transform:uppercase;
						color:#FFF;
					}
				}
				
				.title{
					font-family: 'PT Sans', sans-serif;
					font-size:36px;
					line-height:2.5rem;
					font-weight:bold;
					text-transform:uppercase;
					color:#FFF;
				}
			}
		}
	}
	
	&.fma-loja{
		.slideshow-nav{
			a{
				color:#000;
			}
			
			span{
				background:transparent;
			}
		}
		
		>ul{
			height:320px;
			
			>li{
				flex-direction:column;
				justify-content:center;
				align-items: center;
				
				img{
					height:220px;
				}
				
				.title{
					font-family: 'Proxima Nova Alt Rg';
					font-size:18px;
					text-transform:uppercase;
					margin-top:20px;
					text-align:center;
					
					span{
						font-size:22px;
						display:block;
					}
				}
			}
		}
	}
}

.comments-area{
	.comment-reply-title, .logged-in-as,
	.comment-form-comment label,
	.comment-notes, .comment-form-author,
	.comment-form-email, .comment-form-url{
		display:none;
	}
	
	.comment-form{
		display:flex;
		justify-content:stretch;
		
		.comment-form-comment{
			width:100%;
			
			textarea{
				width:100%;
				height:50px;
				font-family: 'Proxima Nova Alt Rg';
				background-color:#efefef;
				border:1px solid #e3e3e3;
				color:#010101;
				font-size:15px;
				padding:10px;
				outline:none;
			}
		}
		
		.form-submit{
			margin:0;
			
			input{
				height:50px;
				background-color:#626262;
				border:0;
				color:#FFF;
				padding:0 15px;
				margin-left:10px;
				border-radius:6px;
				outline:none;
			}
		}
	}
	
	.comment-list{
		.comment{
			background-color:#efefef;
			padding:15px;
			color:#010101;
			margin-bottom:45px;
			position:relative;
			
			.commentmetadata{
				font-size:12px;
			}
			
			p{
				margin:0;
			}
			
			.cld-common-wrap{
				min-width:auto;
				margin:0 0 0 10px;
			}
			
			.cld-like-dislike-wrap{
				position:absolute;
				margin:0;
				right:0;
				top:100%;
			}
		}
	}
}

.site-content .conteudo{
	@media (max-width: 915.98px){
		> div{
			max-width:100%;
			padding-right:0 !important;
			
			.text:not(.keep-normal), .author-posts,
			.comments-area, .widget-autores, .fma-blog-post,
			.widget-loja, .dynamic-widgets, .fma-assuntos,
			.autor, #author-info, .wpcf7-form{
				margin-right:1.5rem;
				margin-left:1.5rem;
			}
			
			main{
				margin-bottom:2rem;
			}
		}
		
		flex-direction:column; 
	}
	
	@media (max-width: 767.98px) {
		margin-top:0 !important;
		
		.text:not(.keep-normal), #author-info{
			margin-top:1rem !important;
		}
	}
}

.fma-boxes-home{
	margin:15px 0;
	
	@media (max-width: 915.98px){
		flex-direction:column; 
	}
	
	@media (max-width: 767.98px) { 
		margin:0;
	}

	.autores, .newsletter{
		margin-right:15px;
		background:#efefef;
		flex-basis:50%;
	
		@media (max-width: 915.98px){
			margin-right:0;
		}
		
		h3{
			font-family: 'Proxima Nova Lt';
			font-size:28px;
			text-align:center;
			color:#000;
			margin:20px auto 10px auto;
			width:80%;
			
			@media (max-width: 767.98px) {
				margin:10px auto 0 auto;
				width:100%;
				font-size:20px;
			}
		}
		
		.name{
			white-space:normal;
		}
	}
	
	.newsletter{
		padding:25px 50px;
		margin-right:0;

		@media (max-width: 767.98px) {
			padding:0 20px 20px 20px;
		}
	
		form{
			display:flex;
			justify-content:center;
			align-items:stretch;
			margin-top:25px;
			
			.es_lablebox{
				display:none;
			}
			
			.es_textbox{
				width:100%;
				padding:0;
			}
			
			input[type=email]{
				font-family: 'Proxima Nova Alt Rg';
				background-color:#FFF;
				border:0;
				color:#727272;
				font-size:15px;
				padding:10px;
				width:100%;
				outline:none;
			}
			
			.es_button{
				padding:0;
				position:relative;
				
				&:before{
					content: "Enviar";
					position:absolute;
					font-family: 'Proxima Nova Lt';
					font-size:20px;
					color:#FFF;
					text-align:center;
					width:100%;
					top:6px;
					left:0;
				}
			}
			
			input[type=submit]{
				background-color:#aaaaaa;
				border:0;
				outline:none;
				padding:0 10px;
				height:42px;
				width:80px;
				text-indent: -9999px; 
			}
		}
	}
	
	.autores{
		position:relative;
		
		.wrapper{
			width:100%;
			overflow:hidden;
			padding:25px;
		}
		
		.autores-nav{
			position:absolute;
			display:flex;
			justify-content:space-between;
			width:100%;
			height:calc(100% - 63.6px);
			bottom:0;
			left:0;
			z-index:10;
			pointer-events: none;

			@media (max-width: 767.98px) {
				height:calc(100% - 43.6px);
			}

			@media (max-width: 767.98px) {
				height:calc(100% - 43.6px);
			}
			
			a{
				pointer-events: visible;
				color:#000;
			}
			
			span{
				background:#efefef;
				padding:15px;
				width:55px;
				height:100%;
				display:flex;
				align-items:center;
				
				i{
					font-size:36px;
					line-height:36px;
				}
			}
		}

		ul{
			position:relative;
			list-style:none;
			margin:0 30px;
			padding:0;
			white-space:nowrap;
			
			li{
				display:inline-block;
				font-family: 'Proxima Nova Lt';
				font-size:18px;
				color:#000;
				text-transform:uppercase;
				text-align:center;
				width:33.33%;
				
				img{
					border-radius:50%;
					margin-bottom:5px;
					
					@media (max-width: 767.98px) {
						width:60px;
						height:auto;
					}
				}
				
				.name{			
					@media (max-width: 767.98px) {
						font-size:12px;
					}
				}

			}
		}
	}
}

.fma-blog-post{
	margin-bottom:45px;
	
	@media (max-width: 767.98px) {
		flex-direction:column;
		margin:0 !important;
		
		&.short{
			margin-left: 1.5rem !important;
			margin-right: 1.5rem !important;
		}
		
		.thumbnail{
			max-width:100%;
			height:220px;
			margin-right:0 !important;
		}
		
		.text{
			margin:1rem 0 !important;
		}
	}
	
	h2{
		font-family: 'Proxima Nova Lt';
		font-size:25px;
		line-height:28px;
		text-transform:uppercase;
	}
	
	.thumbnail{
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.author{
		text-transform:uppercase;
		text-align: center;
		margin-top:25px;
	}
}

.fma-assuntos{
	list-style:none;
	margin:0;
	padding:0;
	
	> li{
		margin-bottom:30px;
	}
}

.pagination{
	diplay:flex;
	align-items:center;
	justify-content: center;
	
	.page-numbers{
		background:rgba(#3e3e3e,0.5);
		padding:8px 15px;
		font-size:14px !important;
		border-radius:3px;
		color:#FFF;
		
		&.current, &:hover{
			background:#3e3e3e;
		}
	}
}

.section-fma{
	font-family: 'Proxima Nova Lt';
	font-size:22px;
	color:#FFF;
	background-color:#000;
	padding:5px 10px;
	margin-bottom:15px;
}

.button{
	background:#efefef;
	padding:8px 15px;
	font-size:14px !important;
	border-radius:3px;
	border:1px solid #CCC;
	color:#3e3e3e;
	
	&:hover{
		background-color:#3e3e3e;
		border-color:#3e3e3e;
		color:#FFF;
	}
}

.widget-loja{
	margin-bottom:15px;
}

.widget-newsletter{
	@media (max-width: 915.98px) {
		margin:0 1.5rem 1rem 1.5rem;
	}
	
	h3{
		font-size:16px !important;
	}
}

.widget-autores{
	.autores{
		background-color:transparent;
		margin-right:0;
		
		ul{
			margin:0 10px;
		}
		
		.autores-nav{
			height:100%;
			
			span{
				background-color:#FFF;
				width:50px;
			}
		}
		
		img{
			width:60px;
			height:auto;
		}
		
		.name{
			font-size:12px;
		}
	}
}

.post-capa{
	img{
		width:100%;
		margin:15px 0;
		
		@media (max-width: 767.98px){
			margin:0;
		}
	}
}

.fma-post-single{
	.title{
		font-family: 'PT Sans', sans-serif;
		font-size:56px;
		font-weight:bold;
		line-height:60px;
		color:#545454;
		text-transform:uppercase;
		margin:0;
	}
	
	.author{
		margin:20px 0 30px 0;
		text-transform:uppercase;
	}
	
	.post{
		width:90%;
	}
	
	@media (max-width: 767.98px){
		.text:not(.keep-normal){
			margin-left:1rem;
			margin-right:1rem;
		}
		
		.title{
			font-size:24px;
			line-height:28px;
		}
	}
}

.page .fma-post-single{
	h2{
		margin-bottom:30px; 
	}
}

.dynamic-widgets{
	list-style:none;
	margin:0;
	padding:0; 
	
	> li{
		margin-bottom:15px;
	}
	
	.instagram-pics{
		list-style:none;
		margin:-7px;
		padding:0;
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		
		li{
			flex-basis:calc(33% - 14px);
			margin:7px;
			
			img{
				width:100%;
			}
		}
	}
	
	.tagcloud{
		a{
			background:#3e3e3e;
			padding:8px;
			font-size:14px !important;
			border-radius:3px;
			color:#FFF;
			margin: 5px 5px 0 0;
			display: inline-block;
		}
	}
}

.site-footer{
	background-color:#efefef;
	padding:45px 0;
	
	@media (max-width: 767.98px){
		padding:2rem 0 0 0 !important;
	}
	
	.links-footer{
		max-width: 940px;
		width: 90%;
	
		@media (max-width: 767.98px){
			flex-direction:column; 
			
			.main-navigation{
				margin-bottom:2rem;
			}
		}
		
		.main-navigation{
			ul{
				padding:0;
				
				li:not(.title){
					a{
						font-family: 'Proxima Nova Alt Rg';
						font-weight:bold;
						
						&:hover{
							font-weight:normal;
						}
					}
				}
			}
		}
	}
	
	.social-navigation{	
		max-width: 1280px;
		width: 90%;
		
		.social-links-menu{
			margin:0;
		}
	}
}

.barra-creditos{
	background-color:#151515;
	padding:10px;
	text-align:center;
	color:#FFF;
	
	@media (max-width: 767.98px){
		font-size:14px;
		text-align:left;
		display:flex;
		align-items:center;
	}
	
	img{
		margin-left:5px;
	}
}

.wpcf7-form{
	width:80%;
	
	@media (max-width: 915.98px){
		width:85%;
	}
	
	.campo-linha{
		display:flex;
		margin-bottom:15px;
		
		.label{
			width:150px;
			padding:10px;
			background:#292929;
			color:#FFF;
			text-align:center;
			flex-basis:auto;
			max-height:44px;
		}
		
		.campo{
			width:100%;
			margin-left:15px;
			
			input[type=text], input[type=email], textarea{
				font-family: 'Proxima Nova Alt Rg';
				background-color:#efefef;
				border:1px solid #e3e3e3;
				color:#727272;
				font-size:15px;
				padding:10px;
				width:100%;
				outline:none;
			}
		}
	}
	
	.contato-submit{
		text-align:right;
		display:flex;
		flex-direction:row-reverse;
		
		input[type=submit]{
			background-color:#292929;
			border:0;
			color:#FFF;
			outline:none;
		}
	}
}
